:root {
    --light-bg: #f5f7f8;
    --blue-black-bg: #1a237e;
    --light-blue: #29b6f6;
    --dark-grey: #37474f;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--light-bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.container {
    background-color: var(--blue-black-bg);
    height: 50vh;
    width: auto;
}

.container .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #f5f7f8;
    border-radius:5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 900px;
    height: 500px;
    padding: 20px 50px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
}

.logo .money-img {
    width: 10rem;
    /* height: 10rem; */
    margin: 0;
}

.logo h1 {
    margin: 0;
}
.logo p {
    margin: 0;
}

/* Grid System */
#grid-system {
    margin: 15px 0 30px 0;
}
.grid-1 {
    /* border: dotted black 2px; */
    display: flex;
    justify-content: space-between;
}

.grid-1 label {
    text-align: left;
    width: 10rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--dark-grey);
}

.grid-1 .from {
    position: relative;
    right: 70px
}

.grid-2 {
    /* border: dotted red 2px; */
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.grid-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.box-width { /* Key */
    width: 10rem;
    font-size: 1.2rem;
    border-radius: 3px;
    padding: 10px;
    border:#bdbdbd solid 1px;
}

.swap-btn {
    border-radius: 100px;
    cursor: pointer;
    width: 3rem;
}

.swap-btn:hover {
    background: var(--blue-black-bg);
    color: var(--light-bg);
}

select:focus, input:focus, btn:focus {
    outline: none;
    border: var(--light-blue) 1px solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.rate-display {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    width: 50%;
    height: 5rem;
    font-size: 3rem;
    font-weight: bold;
    padding: 5px;

}

.convert-btn {
    height: 5rem;
    background-color: var(--light-blue);
    color: var(--light-bg);
    cursor: pointer;
    font-weight: bold;
    border: var(--light-bg) 1px solid;
}

.convert-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

